<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @studentsregistered.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @studentsregistered.last_name %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @studentsregistered.branch %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @studentsregistered.contact %>
</p>

<p>
  <strong>Book availed:</strong>
  <%= @studentsregistered.book_availed %>
</p>

<p>
  <strong>Exceeded duration:</strong>
  <%= @studentsregistered.exceeded_duration %>
</p>

<%= link_to 'Edit', edit_studentsregistered_path(@studentsregistered), class:"btn btn-secondary" %> 
<%= link_to 'Back', studentsregistereds_path, class:"btn btn-dark" %>
